.product-container {
    display: flex;

    .content-left {
        width: 50%;
        padding: 0 5px 0 0;

        .image-up {
            width: 100%;
            cursor: pointer;

            img {
                width: 100%;
            }
        }

        .image-list {
            width: 100%;
            display: flex;
            flex-direction: row;
            gap: 2px;

            .image-small {
                width: 25%;
                cursor: pointer;
                // border: 1px solid grey;

                .active-image {
                    border: 1px solid green
                }

                img {
                    width: 100%;

                }

            }

        }
    }

    .content-right {
        width: 50%;
        border: none;
        padding: 10px;
        border: 1px solid green
    }

    .product-title {
        font-size: 18px;
        font-weight: 600;
        padding: 10px 0 10px 0;
    }

    .product-prize {
        font-size: 20px;
        font-weight: 600;
        padding: 10px 0 10px 0;
    }

    /*  .product-size {
        width: 40px;
        padding: 5px 0 5px 0;
        border: 1px solid black;
        border-radius: 5px;
        text-align: center;

    } */

    .product-quantity {
        font-size: 1px;
        border-radius: 3px;
        padding: 5px 0 5px 0;
        margin: 5px 0 10px 0;
        font-size: 14px;
        width: 35px;
        outline: none;
    }

    .product-buy-now {
        display: flex;
        flex-direction: column;
        background: rgb(255, 80, 80);
        border: none;
        border-radius: 3px;
        height: 30px;
        width: 40%;
        color: rgb(238, 238, 238);
        font-weight: 600;
        font-size: 18px;
        align-items: center;
    }

}