.App {
  // text-align: center;
  background-color: #f4faf9;
  padding: 40px;
  font-size: 14px;
  min-height: calc(100vh - 80px);
  display: flex;

  .content-right {
    width: 100%;
    padding: 10px;
    border: 1px solid red;
  }

  /* .App-header-content-left {
    background-color: #e4f7f3;
    width: 20%;
    //  min-height: 100vh;
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    // justify-content: center;
    // font-size: calc(10px + 2vmin); 
    color: rgb(58, 58, 58);
  } */
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 10s linear;
  }
}

.input-product {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: 15px;
  margin-top: 5px;

  .input {
    width: 60%;
    height: 20px;
    border-radius: 5px;
    border-width: 1px;
  }
}

button {
  cursor: pointer;
}

fieldset {
  border-radius: 10px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}